.d{
    margin-left: 100px;
    margin-top: -150px;
    text-decoration-color: black;
}

.d1{
    margin-left: 400px;
    margin-top: 100px;
    text-decoration-color: black;
}
.d2{
    margin-left: 450px;
    margin-top: 100px;
    text-decoration-color: black;
}
.p{
font-size: x-large;
text-decoration-color: black;
}
.p1{
    font-size: x-large;
    text-decoration-color: black;
    }