.cardn {
    width: 400px;
    border-radius: 35px;
    margin-left:600px;
    margin-top:-250px;
    background-color: #fff;
    height:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.heading {
    font-size: large;
    font-weight: 700;
    margin-left:130px;
    margin-top:100px;
    color: #383737
}

.cardnumber{
    margin-left:20px;
}
.expirydate{
    margin-left:20px;
    /* margin-top:50px; */
}
 /* .cvv-class:focus {
 box-shadow: none; 
    border: 2px solid #673AB7
}  */
.cvvnumber{
    margin-left:20px;
} 
.cvvnumber1{
    margin-left:100px;
}
.expirydate1{
    margin-left:80px;
     margin-top: -50px;
}
.cardnumber1{
    margin-left:100px;
    /* margin-top: -50px; */
}
.cbtn {
    background-color: #673AB7;
    padding: 15px;
    padding-left: 2grx;
    padding-right: 25px;
  
    font-weight: 600;
    border-radius: 12px;
    margin-left:50px;
    width:130px;
    margin-top: 60px;
    height: 50px;
}

.cbtn:hover {
    box-shadow: none;
    color: #fff
}

.pbtn {
    background-color:green;
    padding: 15px;
    padding-left: 2grx;
    padding-right: 25px;
  
    font-weight: 600;
    border-radius: 12px;
    margin-left:50px;
    width:140px;
    margin-top: 60px;
    height: 50px;
}

.cancel-btn:hover {
    border: 2px solid #b2b2b2;
    color: #b2b2b2
}

.cbtn:focus {
    box-shadow: none
}

.label-text-cc-number {
    position: relative;
    top: 4px
}